
h1{
	color:red;
	font-weight:bold;
  font-style:normal;
  font-size: 90px;
  text-transform: uppercase;


}


h2{
	color:brown;
	font-weight:bold;
  font-style:normal;
  font-size: 60px;
  text-transform: capitalize;
}

h3{
	color:yellow;
	font-weight:bold;
  font-style:normal;
  font-size: 50px;
  text-transform: capitalize;


}

p{
	color:green;
	font-style:italic;

}

.favorite{

			font-style:normal;

		}

.rust{

	color:red;
	}




.common{
  font-size: 40px

}

.first{
  background-color:orange;
  position:absolute;



}

.second{
  background-color:green;
  position:relative;
  left:89px


}

.third{
  background-color:blue;
  position:static;



}


  #funky{
	position:relative;
  top: 30px;
	width:50px;
	height: 50px;
  background-color:pink;
}


.a {position:absolute;

border-bottom-width: 50px;
  background-color:green;
}


div{

background-color:purple;
  margin:80px;
  min-height:60px;
  border: 10px;
	border-style:dotted;
	border-color:blue;
}

body{
	color:black;
	background-color:lightblue;
	padding-top:10px;

}


 #square1{
	 float:left;
      width: 250px;
      height: 250px;
      background-color: blue;
	  margin-left: 150px;

		border-style: dotted;
		border-color:pink;
}


  #cars{
  float:left;
  height:50px;

  background-color:orange;
  font-size: 15px;
  width:37.75%;


  }

  #old_rusty{
  	float:left;
  	background-color:blue;


  	height:420px;
  	margin-left:150px;
  	margin-right:150px;

  }



  #cow{

    top:50px;
  	background-color:yellow;



  	margin-left:500px;
  	margin-right:150px;
  }


  .clearfix{
      clear:both
  }


#boxmodel{

position:fixed;
  bottom:180px;
  width: 20px;
  padding: 25px;
  border: 25px solid navy;
  margin: 25px;
  background-color: orange;
}
 .spooktober{


  color:black;
	background-color:orange;
	text-align: center;
}

.ghost{

    	background-color:white;

	 	}
